[submodule "XEngine/vendor/GLFW"]
	path = XEngine/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
	branch = master
[submodule "XEngine/vendor/imgui"]
	path = XEngine/vendor/imgui
	url = git@github.com:TheCherno/imgui.git
	branch = docking
