# Binaries
**/bin/

bin-int/

# XEngine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
XEngine/vendor/VulkanSDK
XEditor/assets/cache
scripts/__pycache__