[submodule "XEngine/vendor/GLFW"]
	path = XEngine/vendor/GLFW
	url = git@github.com:TheCherno/glfw.git
	branch = master
[submodule "XEngine/vendor/imgui"]
	path = XEngine/vendor/imgui
	url = git@github.com:TheCherno/imgui.git
	branch = docking
[submodule "XEngine/vendor/yaml-cpp"]
	path = XEngine/vendor/yaml-cpp
	url = git@github.com:TheCherno/yaml-cpp.git
[submodule "XEngine/vendor/ImGuizmo"]
	path = XEngine/vendor/ImGuizmo
	url = git@github.com:TheCherno/ImGuizmo.git
[submodule "XEngine/vendor/Box2D"]
	path = XEngine/vendor/Box2D
	url = git@github.com:TheCherno/box2d.git
